{% extends "base.html" %}

{% block title %}IoT Server{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h1 class="card-title">Welcome to IoT Server</h1>
                <p class="card-text">This is the home page of your IoT server</p>
                <div class="mt-4">
                    <a href="/devices" class="btn btn-primary btn-lg">View Devices</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}