<ul id="dropdown-user" class="dropdown-content">
  <li><a href="#!">Profile</a></li>
  <li><a href="/auth/logout">Logout</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" style="display: flex; align-items: center; gap: 8px;">
      <img src="/static/img/favicon.jpg" alt="favicon" style="height:32px;width:32px;vertical-align:middle;">
      IoT Server
    </a>
    <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Dispositivi</a></li>
      {% if user.is_admin() %}
        <li><a href="#">Utenti</a></li>
      {% endif %}
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown-user">{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-menu">
  <li><a href="#">Dispositivi</a></li>
  {% if user.is_admin() %}
    <li><a href="#">Utenti</a></li>
  {% endif %}
  <li><a href="collapsible.html">{{ user.username }} Profile</a></li>
  <li><a href="/auth/logout">Logout</a></li>
</ul>
