<nav class="blue">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" style="display: flex; align-items: center; gap: 8px;">
      <img src="/static/img/favicon.jpg" alt="favicon" style="height:32px;width:32px;vertical-align:middle;">
      IoT Server
    </a>
    <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-menu">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">JavaScript</a></li>
</ul>
